html {
    height: 100%;
    width: 100%;
    font-family: 'Heebo', sans-serif;
    font-size: 14pt;
}
body {
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: bold;
}
.zone-title {
    border-bottom: 1px solid lightgray;
}
.event-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.event {
    padding: 2px;
    cursor: pointer;
}
.event img {
    border: 1px solid lightgray;
    width: 25vw;
}
.event.current img {
    width: 45vw;
}
.event-datetime, .feed-name {
    position: relative;
    bottom: 25px;
    margin-bottom: -25px;
    left: 5px;
    color: #00ff00;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Styles for phones */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    .event img {
        width: 48vw;
    }
    .event.current img {
        width: 48vw;
    }
}
